@keyframes slideTop {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(200px);
    }
}

.structure_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.structure_content_img_box {
    display: flex;
    margin-top: 10rem;
}

.structure_content_box {
    position: relative;
    left: 18rem;
    width: 18rem;
    height: 24rem;
    background-color: #5271ff;
    z-index: 0;
    transform: rotate(15deg);
    animation: 5s linear 1s infinite alternate sliderBlockImg;
}

.structure_content_img {
    width: 18rem;
    height: 24rem;
    position: relative;
    z-index: 1;
}

.banner_text {
    font-size: 1.5rem;
    font-weight: 400;
}

.banner {
    margin-left: 15%;
    margin-top: 10rem
}

.banner_title {
    font-weight: 700;
    font-size: 5rem;
    color: #5271ff;
    margin-bottom: 1rem;
}

.text{
    padding-right: 0.4rem;
    border-right: solid 0.5rem #5271ff;
}

.banenr_discription {
    font-weight: 400;
    font-size: 1.1rem;
}

.button_switch {
    margin-top: 3rem;
    margin-left: 15%;
}

.button_resume,
.button_portfolio {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #4f4f4f;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4rem;
}

.button_portfolio {
    margin-left: 1rem;
    background-color: #5271ff;
    margin-right: 1rem;
}

.button_portfolio_svg,
.button_resume_img {
    position: relative;
    top: 0.2rem;
    margin-right: 0.3rem;
}

.statistics {
    display: flex;
    margin-top: 0rem;
    margin-left: 8%;
}

.statistics_data_title {
    font-size: 4.5rem;
    font-weight: 600;
    color: #5271ff;
}

.statistics_data {
    display: flex;
    margin-right: 3rem;
}

.statistics_data_text {
    position: relative;
    top: 2rem;
    margin-left: 1rem;
}

.knowledge {
    margin-top: 5rem;
    margin-left: 8%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.knowledge.show {
    opacity: 1;
    transform: translateY(0);
}

.knowledge_title {
    font-size: 2rem;
    font-weight: 600;
    padding-left: 0.5rem;
    border-left: solid 4px #5271ff;
}

.knowledge_text {
    margin-top: 1rem;
}

@keyframes sliderBlockImg {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-15deg);
    }
}

.button_portfolio,
.button_resume {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    border: none;
    color: white;
}

.button_portfolio::after,
.button_resume:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #000000;
    transition: height 0.6s ease-in-out;
    z-index: -1;
    border-radius: 4rem;
}

.button_portfolio:hover::after,
.button_resume:hover::after {
    height: 100%;
}

.button_portfolio span,
.button_resume span {
    position: relative;
    z-index: 2;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 8%;
    gap: 1.5rem;
    margin-top: 8rem;
}

.skills_block_1,
.skills_block_2,
.skills_block_3,
.skills_block_4,
.skills_block_5,
.skills_block_6,
.skills_block_7,
.skills_block_8 {
    background-color: #4f4f4f;
    padding: 2.3rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.skills_block_1.show,
.skills_block_2.show,
.skills_block_3.show,
.skills_block_4.show,
.skills_block_5.show,
.skills_block_6.show,
.skills_block_7.show,
.skills_block_8.show  {
    opacity: 1;
    transform: translateY(0);
}


.skills_block_title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
}

.skills_block_text {
    margin-top: 1.1rem;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1790px) {
    .skills {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1668px) {

    .button_portfolio,
    .button_resume {
        font-size: 1rem;
    }

    .button_resume_img {
        width: 1rem;
        top: 0.1rem;
    }

    .button_portfolio_svg {
        top: 0.2rem;
    }
}

@media (max-width: 1585px) {

    .button_portfolio,
    .button_resume {
        font-size: 0.8rem;
    }

    .button_resume_img {
        width: 0.8rem;
        top: 0.1rem;
    }

    .button_portfolio_svg {
        top: 0.2rem;
    }
}

@media (max-width: 1592px){
    .structure_content_img_box{
      margin-left: -8rem;
    }
  }

@media (max-width: 1585px) {
    .button_switch {
        margin-left: 10%;
    }
}

@media (max-width: 1315px) {
    .structure_content_box {
        top: 24rem;
        left: 0;
    }

    .structure_content_img_box {
        display: block;
    }

    .structure_content_img_box {
        margin-top: -20rem;
        margin-left: 10%;
        margin-bottom: 1rem;
        margin-left: 35%;
    }

    .structure_content {
        display: block;
    }

    .button_switch {
        margin-left: 13%;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 990px) {
    .structure_content_img_box {
        margin-top: -20rem;
    }

    .structure_content {
        display: inline;
    }

    .skills {
        margin-right: 8%;
    }

    .page_block_text{
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 740px) {
    .skills {
        gap: 0.5rem;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 640px) {
    .skills {
        margin-left: 5%;
        margin-right: 5%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 512px) {
    .banner {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1rem;
    }

    .banner_title {
        font-size: 3.5rem;
    }

    .button_switch {
        margin-left: 0%;
    }

    .button_portfolio,
    .button_resume {
        font-size: 0.7rem;
    }

    .button_resume_img {
        width: 0.7rem;
        top: 0.1rem;
    }

    .button_portfolio_svg {
        top: 0.1rem;
    }

    .statistics {
        display: block;
    }

    .skills {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 3%;
        margin-right: 3%;
    }

    .structure_content_box {
        top: 24rem;
        left: 0;
    }

    .structure_content_img_box {
        display: block;
    }

    .structure_content_img_box {
        margin-top: -20rem;
        margin-left: 10%;
        margin-bottom: 1rem;
    }
}

@media (max-width: 400px) {

    .structure_content_box {
        top: 20rem;
        left: 0;
        width: 15rem;
        height: 20rem;
    }

    .structure_content_img_box {
        display: block;
    }

    .structure_content_img_box {
        margin-top: -16rem;
        margin-left: 14%;
        margin-bottom: 1rem;
    }

    .structure_content_img {
        width: 15rem;
        height: 20rem;
    }

    .knowledge {
        margin-left: 4%;
        margin-right: 4%;
    }
}

.about_footer_data{
    margin-top: 3rem;       
}