@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Jost", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292929;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
}

#root{
  display: grid;
  grid-template-areas: 
  "header main";
  grid-template-columns: 19rem 1fr;
  gap: 0rem;
}

@media (max-width: 990px){
  #root{
    display: block;
  }


}

header{
  grid-area: header;
  /*position: fixed;*/
}

main{
    grid-area: main;
    margin-right: 20%;
}

@media (max-width: 990px){
  main{
    margin-right: 0%;
  }
}

.footer_data{
  margin-top: 5rem;
  font-weight: 500;
  margin-left: 8%;
  font-weight: 600;
  padding-bottom: 1rem;
}