.page_block{
    margin-top: 7rem;
    text-align: center;
}

.page_title{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.page_text{
    font-size: 1.1rem;
    font-weight: 400;
}

.section{
    border-bottom: solid 1px #3a3a3a;
    margin-top: 3rem;
}

.details_title{
    font-size: 3.5rem;
    font-weight: 700;
    border-left: solid 4px #5271ff;
    padding-left: 1rem;
}

.details{
    margin-top: 2rem;
    margin-left: 10%;
}

.details_text{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.details_navigation{
    display: flex;
    margin-top: 3rem;
  
}

.details_phone, .details_location, .details_email{
    display: flex;
    border-left: solid 1px #5271ff;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 1rem;
}

.details_location, .details_email{
    margin-left: auto   ;
}

.details_navigation_svg{
    height: 3rem;
    width: 3rem;
}

.details_navigation_data{
    margin-left: 1rem;  
}

.details_navigation_title{
    font-size: 1.5rem;
    font-weight: 600;
}

.maps{
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 30%;
    width: 90%;
    height: 16rem;
}

.maps_me{
    border: solid 0px white;
}

.footer_data{
    margin-left: 10%;
    margin-top: 18rem;
    
}