.header{
    /*width: 17rem;*/
    height: 100vh;
    background-color: #4f4f4f;
    position: fixed;
}

.header_retreat{
    padding-top: 5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.header_photo{
    width: 100%;
}

.header_photo_profile{
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 10rem;
}

.header_photo_profile_img{
    width: 5rem;
}

.header_name{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

.header_title{
    font-size: 0.8rem;
    font-weight: 400;
}

.header_socialMedia{
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    justify-content: center; 
    gap: 0.1rem; 
    margin-top: 1.3rem;
  
    
}

.header_socialMedia_edging{
    padding: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    border: solid 1px #696969;
    border-radius: 20rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    transition: background-color 0.5s ease;
}

.header_socialMedia_link{
    
}

.header_socialMedia_edging:hover{
    background-color: #5271ff;
    transition: background-color 0.5s ease;
}




.header_socialMedia_edging:hover .header_socialMedia_link_svg{
    fill: white;
    stroke: white;
}

.header_name{
    text-align: center;
}

.header_title{
    width: 100%;
    text-align: center;
}

.header_title_span{
    font-size: 0.8rem;
}

.header_section{
    margin-top: 2rem;
    margin-bottom: 2.3rem;
    border-bottom: solid 1px white;
}

.header_menu{
    margin-top: 1rem;
}

.header_menu_list_item{
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border-radius: 0.5rem;
    transition: background-color 0.5s ease;
}

.header_menu_list_item_svg{
    position: relative;
    top: 0.1rem;
    margin-left: 0.2rem;
    margin-right: 0.5rem;
}

.header_menu_list_item:hover{
    background-color: #5271ff;
    transition: background-color 0.5s ease;
}

.active li{
    background-color: #5271ff;
}
    
.header_socialMedia_link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.header_socialMedia_link_svg{
    height: auto;
}

.header_me{
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #5271ff;
    width: 9rem;
    border-radius: 3rem;
    color: white;
    border: solid 1px #5271ff
}

.header_me_center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

.header_me_center-svg{
    position: relative;
    top: 0.3rem;
}

.header_footer{
    margin-top: 100%;
    display: flex;
    justify-content: center;
}

.header_footer_intermediate{
    display: flex;
    align-items: center;
    justify-content: center;
}

